<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com?ref=bda-footer">
          Creative Tim
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com/about-us?ref=bda-footer">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://blog.creative-tim.com?ref=bda-footer"> Blog </a>
      </li>
    </ul>
    <div class=" copyright">
      Cannon group
      &copy; {{ test | date: "yyyy" }}
  .
      <a href="https://www.creative-tim.com?ref=bda-footer" target="_blank"> Creative Tim </a>
    All right reserved.
    </div>
  </div>
</footer>
