<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          Cannon group
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          About the company
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="#"> Policy </a>
      </li>
    </ul>
    <div class=" copyright">
      Cannon group
      &copy; {{ test | date: "yyyy" }}
  .
      <a href="#" target="_blank"> </a>
    All right reserved.
    </div>
  </div>
</footer>
