<div class=" content">
  <div class=" row">
    <form action="" class="form-group">
      <label for="subject">Subject</label>
      <input type="text"
             id="subject"
             class="form-control"
             [(ngModel)]="subject"
      >

      <label for="message">Your message</label>
        <textarea name="message" id="message" cols="30" [(ngModel)]="message" rows="10">

        </textarea>
      <select
        id="account"
        class="bg-white text-muted browser-default custom-select"
        (change)="selectChangeHandlerReplyMethod($event)">
        <option selected class="text-black-50">Select your account</option>
        <option
          value="email"
          class="text-muted">
          Reply you via email
        </option>
        <option
          value="sms"
          class="text-muted">
          Reply you via SMS (your registred number)
        </option>
      </select>
      <button class="btn btn-success"
      (click)="sendMessage(subject,message,replyWay)">Send</button>
    </form>
  </div>

</div>
