<div class=" content">
  <div class=" row">
    <h2 class="text-muted">You can now request for a credit card easily.</h2>
    <div>

    </div>
    <hr>
    <div class="col-sm-12">
      <div class="col-sm-8">
        <ngb-alert [type]="'warning'"  [dismissible]="false">
    <span>
              Please note that this process can take up to 7 business days
            </span>
        </ngb-alert>
      </div>

    </div>
    <div class="col-sm-7 bg-white mt-5">

  <h5 class="text-muted">Please complete these informations:</h5>
  <form action="">

    <button class="btn btn-success mt-5 float-right"
            >
      Make the request
    </button>
  </form>
</div>
    <div class="col-sm-4 offset-sm-1 bg-white mt-5">
      <h5 class="text-muted">Here are your actual cards:</h5>
    </div>
  </div>


</div>
