<div class=" content">

  <div class="row">
    <div class=" card card-chart col-sm-5">
      <div class=" card-header">
        <h5 class=" card-category">Total sended money</h5>
        <h3 class=" card-title">
          <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{totalSended}} dh
        </h3>
      </div>
      <div class=" card-body">

      </div>
    </div>
    <div class=" card card-chart col-sm-6 offset-sm-1">
      <div class=" card-header">
        <h5 class=" card-category">Total received money</h5>
        <h3 class=" card-title">
          <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{totalReceived}} dh
        </h3>
      </div>
      <div class=" card-body">

      </div>
    </div>
  </div>

  <div class=" row bg-white">
    <div class=" col-lg-4">
      <div class=" mt-5">
        <h2 class="text-muted col-sm-12">Transfer your money</h2>
        <hr>
        <div class="col-sm-12">
          <ngb-alert [type]="'success'" *ngIf="success" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Success - </b>
you have sent {{amount}} dh to the account with success
            </span>
          </ngb-alert>
          <ngb-alert [type]="'danger'"
                     *ngIf="failure"
                     [dismissible]="false">
            <button type="button"
                    aria-hidden="true"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
            >
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Error - </b> Something wrong, the amount didn't transfer.
            </span>
          </ngb-alert>
        </div>
        <form
          class="form-group col-sm-12"
          name="form"
          #f="ngForm"
          (ngSubmit)="f.form.valid"
          novalidate>
          <label for="account">Select your account to make with this transfer</label>

          <select
            id="account"
            class="bg-white text-muted browser-default custom-select"
            (change)="selectChangeHandler($event)">
            <option selected class="text-black-50">Select your account</option>
            <option
              *ngFor="let acc of accounts"
              value="{{acc.accountNumber}}"
              class="text-muted">
              {{acc.accountNumber}}
            </option>
          </select>

          <label for="receiverAccount">Receiver Account number</label>
          <input type="text"
                 name="receiverAccountNumber"
                 id="receiverAccount"
                 class="bg-white form-control"
                 [(ngModel)]="receiverAccountNumber"
                 #Receiver = "ngModel"
                 [ngClass]="{'is-invalid' : f.submitted && Receiver.invalid}"
                 required pattern="^[1-9].*$"
                 required required minlength="16"
                 required required maxlength="16">
          <div *ngIf="f.invalid && (Receiver.dirty || Receiver.touched)">
            <div *ngIf="Receiver.errors.required" class="text-danger">required receiver account number</div>
            <div *ngIf="Receiver.errors.pattern" class="text-danger">receiver account number need to contain only numbers </div>
            <div *ngIf="Receiver.errors.maxlength" class="text-danger">The receiver account number need to be exactly  16 </div>
            <div *ngIf="Receiver.errors.minlength" class="text-danger">The receiver account number need to be exactly  16 </div>

          </div>
          <label for="amount">Amount</label>
          <input type="text"
                 id="amount"
                 name = "amount"
                 class="bg-white form-control"
                 [(ngModel)]="amount">

          <button class="btn btn-success mt-5 float-right"
                  (click)="transfer(senderAccountNumber, receiverAccountNumber ,amount)">
            Send
          </button>
        </form>
      </div>

    </div>

    <div class=" col-md-7 offset-sm-1">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">All your transfers</h4>
          <p class=" category">You find here all your transfers</p>

        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th>Account number used</th>
                <th>Receiver account number</th>
                <th>Amount</th>
                <th class=" text-center">Date</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let trans of transactions ">
                <td>1234567899876543</td>
                <td>1234567892222222</td>
                <td>{{trans.amount}}</td>
                <td class=" text-center">{{trans.date}}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
