<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total expenses</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chartLineRed"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-md-7">
  </div>

      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Table on Plain Background</h4>
          <p class=" category">Here is a subtitle for this table</p>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th>Account ID</th>
                <th>Client first name</th>
                <th>Client last name</th>
                <th class=" text-center">type of request (a credit card request or checkbook request)</th>
                <th>date</th>
                <th>State (open or close request)</th>

              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Oud-Turnhout</td>
                <td class=" text-center">$36,738</td>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td>Oud-Turnhout</td>
                <td class=" text-center">$36,738</td>
                <td>
                  <div class="row">
                    <button class="btn btn-info col-sm-5 text-left">Modifier</button>
                    <button class="btn btn-danger col-sm-5 ml-1 text-left"><span class="text-left">Supprimer</span></button>


                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>
